@model ProyectoFinal2._0.Permisos

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Permisos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.desde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleados.emp_codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleados.emp_codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", new { id = Model.permisoId }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
