@model IEnumerable<ProyectoFinal2._0.Permisos>

@{
    ViewBag.Title = "Index";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.desde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleados.emp_codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.desde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hasta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleados.emp_codigo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Editar", new { id=item.permisoId }) |
            @Html.ActionLink("Details", "Detalles", new { id=item.permisoId }) |
            @Html.ActionLink("Delete", "Borrar", new { id=item.permisoId })
        </td>
    </tr>
}

</table>
