@model IEnumerable<ProyectoFinal2._0.Cargo>

@{
    ViewBag.Title = "Index";
}

<h2>inicio</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cargo1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cargo1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Editar", new { id=item.cargoId }) |
            @Html.ActionLink("Details", "Detalles", new { id=item.cargoId }) |
            @Html.ActionLink("Delete", "Borrar", new { id=item.cargoId })
        </td>
    </tr>
}

</table>
