@model IEnumerable<ProyectoFinal2._0.Nominas>

@{
    ViewBag.Title = "Index";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto_total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mes1.mes1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monto_total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mes1.mes1)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.nominaId }) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.nominaId }) |
            @Html.ActionLink("Borrar", "Borrar", new { id=item.nominaId })
        </td>
    </tr>
}

</table>
